#why-us {
    background-color: #306d9f;
    color: #ffffff;
    height: 100%;
    margin-top: 50px;
}

#why-us .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}