#contact {
    background: url("/static_files/media/homepage_files/kicc_2.png") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact .panel {
    margin-top: 60px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.54);
}

#contact .panel .panel-body {
    font-size: 1.0em;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #contact {
        background: url("/static_files/media/homepage_files/kicc_2.png") no-repeat center center fixed;
        display: table;
        height: 400px;
        position: relative;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #contact .panel {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 255, 255, 0.54);
    }

    #contact .panel .panel-body {
        font-size: 1.0em;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    #contact {
        background: url("/static_files/media/homepage_files/kicc_2.png") no-repeat center center fixed;
        display: table;
        height: 400px;
        position: relative;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #contact .panel {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 255, 255, 0.54);
    }

    #contact .panel .panel-body {
        font-size: 1.0em;
    }

}