.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0.8em;
}

.glyphicon {
    color: #3F2B22;
}
.active .glyphicon {
    color: #cdae51;
}